body{
	font-family: 'Titillium Web';
	background:white;
	header{

		h1{
			margin-top: 27px;
			float:left;
			padding-left: 61px;
		}
		form{
			float: right;
			padding-top: 26px;
			padding-right: 55px;
			label{
				padding-right: 12px;
				display: inline-block;
				max-width: 100%;
				margin-bottom: 5px;
				font-weight: 500;
				color: #8d9da3;
				font-size: 17px;
				padding-top: 13px;
			}
			.selectboxit-container{					
				margin-bottom: 15px;
				.selectboxit-options{

					width: 460px;

				}
				.selectboxit{
					width: 459.406px !important;
					background: #0c69af;
					border: 1px solid #0c69af;
					padding: 9px 0px 41px 0px;
					
				}
				.selectboxit-text{
					color: white;
					font-size: 24px;
					max-width: none !important;
					width: 153px ;
					font-family: 'Titillium Web' !important;
				}
				.selectboxit-arrow-container{
					background:#0c69af;
					height:33px;
					.selectboxit-arrow{
						margin: 0 auto;
						position: absolute;
						top: 55%;
						right: 0;
						left: 0;
						border-top: 11px solid #fff;
						border-right: 6px solid transparent;
						border-left: 6px solid transparent;
					}
					.arrow-up{
						position: absolute;
						top: 6%;
						left: 9px;
						width: 11px;
						height: 0px;
						border-bottom: 11px solid white;
						border-right: 6px solid transparent;
						border-left: 6px solid transparent;
					}
				}
			}				
		}
	}

	.container{
		float: left;
		border: 1px solid #ccc;
		margin-left:62px;
		padding-right: 0;
		text-align: center;
		padding-left: 0;
		.pages{
			padding-left: 0;
			padding-right: 0;

			.paging{ 
				list-style: none; 
				overflow: hidden; 
				padding-left:0;
				font: 18px ;
				li { 
					float: left; 
					.next-page {
						color: #0e6bb0;
						text-decoration: none; 
						padding: 5px 50px 2px 55px;
						background: #d2d6d9;
						font-size: 24px;
						position: relative; 
						display: block;
						float: left;
						.check{
							font-size: 42px;
							color:white;
						}
						.fa-stack-2x {
							font-size: 42px;
							color: white;
							top: 9px;
							left: 0px;
						}
						.fa-stack-1x{
							font-size: 26px;
							top: -2px;
							color: #0e6bae;
							font-weight: bold;
							.check1{
								color:#89bd50;
							}

						}
						.fa-stack-1x:hover{
							color:#efbf38;
						}
					}
					.next-page:after { 
						content: " "; 
						display: block; 
						width: 0; 
						height: 0;
						border-top: 50px solid transparent; 
						border-bottom: 50px solid transparent;
						border-left: 30px solid #d2d6d9;
						position: absolute;
						top: 50%;
						margin-top: -50px; 
						left: 99%;
						z-index: 2; 
					}
				.next-page:hover{
						background:#efbf38;
							color:white;
					}
							.next-page:hover:after{
						 	border-left: 30px solid #efbf38;
					}


					a::before { 
						content: " "; 
						display: block; 
						width: 0; 
						height: 0;
						border-top: 50px solid transparent;       
						border-bottom: 50px solid transparent;
						border-left: 30px solid white;
						position: absolute;
						top: 50%;
						margin-top: -50px; 
						margin-left: 1px;
						left: 100%;
						z-index: 1; 
					}
				}
			}
		}
		.headings{
			.order-heading{
				padding-left: 30px;
				float: left;
				margin-top: 14px;
			}
			.pool-heading{
				float: left;
				padding-left: 265px;
				margin-top: 14px;
			}
		}
		.info{
			padding-right: 57px;
			padding-left: 0;
			.numbers{
				padding-top: 41px;
				padding-left: 0;
				padding-right: 0;
				ul{
					list-style: none;
					padding-left: 0;

					li{
						padding-bottom: 40px;
						padding-top: 10px;
						.fa-stack-2x {
							font-size: 55px;
							color: white;
							top: -27px;
							left: 7px;
						}
						.fa-stack-1x{
							font-size: 32px;
							top: -17px;
							color: rgba(128, 128, 128, 0.67);
							left: 12px;
							font-weight: bold;


						}
					}
				}
			}
			.team-names{
				padding-left: 0;
				padding-right: 0;

				
				text-align: left;
				text-align: left;



				
				#sortable1 {
					
					width: 142px;
					min-height: 20px;
					list-style-type: none;
					margin: 0;
					padding: 5px 0 0 0;
					float: left;
					margin-right: 10px;
					li {
						width: 457px;
						border-radius: 9px;
						border: 3px solid #c5c5c5;
						color: white;
						padding-top: 22px;
						padding-bottom: 27px;
						font-size: 23px;
						margin: 3px 0px 20px 0px;
						border-style: dotted;
						background: none;
						color: #c5c5c5;
						text-align: center;
						i{
							display:none;
							font-size: 37px;
							color: #0968a8;
							float: right;
						}
						
					}
				}
				

			}
			.team-emails{
				padding-left: 0;
				padding-right: 0;





				#sortable2 {

					width: 142px;
					min-height: 20px;
					list-style-type: none;
					margin: 0;
					padding: 5px 0 0 0;
					float: left;
					margin-right: 10px;
					li {
						width: 460px;
						border-radius: 9px;
						border:3px solid #c5c5c5;
						color: white;
						padding-top: 40px;
						padding-bottom: 42px;
						font-size: 23px;
						margin: 3px 0px 19px 0px;
						background:#c5c5c5;
						

						i{
							display:none;
							font-size: 37px;
							float: right;
							color: white;
						}
					}
				}
			}

		}


		.move-next{
			padding-left: 0;
			#draft-page{
				background: #68b42a;
				border-radius: 4px;
				border-width-color: #68b42a;
				border-width: 1px;
				padding: 12px 37px;
				color: white;
				font-size: 26px;
				margin-bottom: 40px;
				box-shadow: 1px 7px 1px #888888;
				a{
					color:white;
					text-decoration: none;
				}
			}

		}
	}
}
