body {
  font-family: 'Titillium Web';
  background: white; }
  body header h1 {
    margin-top: 27px;
    float: left;
    padding-left: 61px; }
  body header form {
    float: right;
    padding-top: 26px;
    padding-right: 55px; }
    body header form label {
      padding-right: 12px;
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 500;
      color: #8d9da3;
      font-size: 17px;
      padding-top: 13px; }
    body header form .selectboxit-container {
      margin-bottom: 15px; }
      body header form .selectboxit-container .selectboxit-options {
        width: 460px; }
      body header form .selectboxit-container .selectboxit {
        width: 459.406px !important;
        background: #0c69af;
        border: 1px solid #0c69af;
        padding: 9px 0px 41px 0px; }
      body header form .selectboxit-container .selectboxit-text {
        color: white;
        font-size: 24px;
        max-width: none !important;
        width: 153px;
        font-family: 'Titillium Web' !important; }
      body header form .selectboxit-container .selectboxit-arrow-container {
        background: #0c69af;
        height: 33px; }
        body header form .selectboxit-container .selectboxit-arrow-container .selectboxit-arrow {
          margin: 0 auto;
          position: absolute;
          top: 55%;
          right: 0;
          left: 0;
          border-top: 11px solid #fff;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent; }
        body header form .selectboxit-container .selectboxit-arrow-container .arrow-up {
          position: absolute;
          top: 6%;
          left: 9px;
          width: 11px;
          height: 0px;
          border-bottom: 11px solid white;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent; }
  body .container {
    float: left;
    border: 1px solid #ccc;
    margin-left: 62px;
    padding-right: 0;
    text-align: center;
    padding-left: 0; }
    body .container .pages {
      padding-left: 0;
      padding-right: 0; }
      body .container .pages .paging {
        list-style: none;
        overflow: hidden;
        padding-left: 0;
        font: 18px; }
        body .container .pages .paging li {
          float: left; }
          body .container .pages .paging li .next-page {
            color: #0e6bb0;
            text-decoration: none;
            padding: 5px 50px 2px 55px;
            background: #d2d6d9;
            font-size: 24px;
            position: relative;
            display: block;
            float: left; }
            body .container .pages .paging li .next-page .check {
              font-size: 42px;
              color: white; }
            body .container .pages .paging li .next-page .fa-stack-2x {
              font-size: 42px;
              color: white;
              top: 9px;
              left: 0px; }
            body .container .pages .paging li .next-page .fa-stack-1x {
              font-size: 26px;
              top: -2px;
              color: #0e6bae;
              font-weight: bold; }
              body .container .pages .paging li .next-page .fa-stack-1x .check1 {
                color: #89bd50; }
            body .container .pages .paging li .next-page .fa-stack-1x:hover {
              color: #efbf38; }
          body .container .pages .paging li .next-page:hover {
            background: #efbf38;
            color: white; }
          body .container .pages .paging li .next-page:hover:after {
            border-left: 30px solid #efbf38; }
          body .container .pages .paging li .next-page:after {
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 30px solid #d2d6d9;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            left: 99%;
            z-index: 2; }
          body .container .pages .paging li a::before {
            content: " ";
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 30px solid white;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            margin-left: 1px;
            left: 100%;
            z-index: 1; }
    body .container h2 {
      text-align: left;
      padding-left: 51px;
      margin-bottom: 0; }
    body .container .team-name-head {
      float: left;
      font-size: 24px;
      padding-right: 68px;
      padding-left: 80px;
      margin-top: 0; }
    body .container .email-head {
      margin-top: 0;
      font-size: 24px; }
    body .container .team-names {
      padding-left: 82px;
      padding-right: 0; }
      body .container .team-names form {
        text-align: left;
        text-align: left; }
        body .container .team-names form ol {
          padding-left: 0;
          float: left;
          padding-right: 51px; }
          body .container .team-names form ol li {
            font-size: 22px;
            font-weight: 400;
            color: #b2b2b2; }
            body .container .team-names form ol li .pool-name {
              border-radius: 5px;
              border: 2px solid blue;
              padding: 10px;
              padding-left: 10px;
              padding-right: 245px;
              margin-bottom: 15px;
              font-size: 21px;
              box-shadow: 0px 15px 10px -15px #888888;
              color: #9dabaf; }
        body .container .team-names form ul {
          padding-left: 0;
          list-style: none; }
          body .container .team-names form ul li {
            font-size: 22px;
            font-weight: 400;
            color: #b2b2b2; }
            body .container .team-names form ul li .pool-name {
              border-radius: 5px;
              border: 2px solid blue;
              padding: 10px;
              padding-left: 10px;
              padding-right: 245px;
              margin-bottom: 15px;
              font-size: 21px;
              box-shadow: 0px 15px 10px -15px #888888;
              color: #9dabaf; }
      body .container .team-names #draft-page {
        BACKGROUND: #68b42a;
        border-radius: 6px;
        border-width-color: #68b42a;
        border-width: 1px;
        padding: 10px 12px;
        color: white;
        font-size: 29px;
        box-shadow: 1px 7px 1px #888888;
        float: left;
        margin-bottom: 40px; }
        body .container .team-names #draft-page a {
          color: white;
          text-decoration: none; }
